{% extends "landingpage/base_out.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="login_container ">

  <div class="row d-flex h-100 justify-content-center align-items-center">
      <div class="card col-auto ml-md-auto a_c align-self-center">
          <h3 class="login-heading mb-4">Recuperación de contraseña</h3>

          <form method="POST" >
              {% csrf_token %}
                <div class="form-floating">
                  {{ form.password1 }}
                  <label for="floatingPassword">Nueva contraseña</label>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-outline-info rounded-pill" type="submit">Enviar</button>
              </div>
            </form>

      </div>
  </div>
</div>
{% endblock %}