{% extends "dashboard/base_in.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content">
  
    <div class="container title" >
      <form method="GET">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <h2>{{ title }}</h2>
          </div>
            <div class="col-lg-auto">
              <input id="date_search" name= "date_search" class="form-control me-2" type="date" placeholder="Buscar" aria-label="Search">
            </div>
            <div class="col-lg-auto">
              <button class="btn btn-outline-info" type="submit">Buscar</button>
            </div>
        </div>
      </form>
    </div>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        {%for session in history %}
        <tr>
          <td>{{session.date_login}} </td>
          <td>{{session.time_login}} </td>
  
        </tr>
        {% endfor %}
      </tbody>
  
    </table>
</div>
{% endblock %}
